body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }

p { font-size: medium }

p {
  color:rgb(255, 255, 255)
}

header {
  text-align: center;
  background: #3cc2a7;
  color: white;
}
